<div class="card m-5 h-75 border-success">
  <div class="card-header title-1 border-success">新規投稿</div>
  <div class="card-body p-4">
    <%= render 'form', tweet: @tweet %>
    <%= link_to '戻る', tweets_path, class: "btn btn-outline-success" %>
  </div>
</div>