<br>
<div class="card text-center border-success">
    <div class="card-header text-white border-success bg-success">
        <h4 class="mb-1">LiNexへようこそ！！</h4>
    </div>
    <div class="card-body">
        <h5 class="card-title pl-3">この度は本アプリをご使用頂き誠にありがとうございます。</h5>
        <p class="card-text pt-2">本アプリは日常の様々な出来事や各ユーザー様のご趣味、好きなことをご投稿頂けるアプリとなっております。</p>
        <p class="card-text">※各ユーザー様が本アプリを気持ちよくお使い頂けるよう誹謗中傷、又は嫌がらせ行為などはお控え下さいますようお願い申し上げます。</p>
        <br>
        <h5 class="pl-3">本アプリのご使用方法は下記となります。</h5>
            <div class="box p-5">
                <p class="card-text">コンテンツの投稿（尚、投稿の際に画像添付ができ、テキストのみでも投稿はできます）<p>
                <p class="card-text">他ユーザー様の投稿の閲覧</p>
                <p class="card-text">他ユーザー様の投稿への <i class='fas fa-heart fa-md' style='color:#619f60'></i>、<i class='fas fa-star fa-md' style='color:#619f60'></i> での反応</p>
                <p class="card-text">投稿の編集、及び削除も可能となります</p>
                <p class="card-text">投稿の検索機能もご使用可能となります</p>
                <p class="card-text">プロフィール作成（ご自身のご趣味などを自己紹介として記載できます）</p>
                <p class="card-text">プロフィール画面で投稿したコンテンツのご確認ができます</p>
                <p class="card-text">TODOリストのご使用もできます</p>
                <p class="card-text">（尚、TODOリストはご自身にしか閲覧できません）</p>
            </div>
        <div class="text-h6 mt-5">
            <p>さぁ、ご使用方法もご確認頂きましたところで</p>
            <p>下記リンクからユーザー登録をして本アプリをご使用下さい！！</p>
        </div>
        <%= link_to 'ユーザー登録', new_user_registration_path, class: "btn btn-outline-success mb-3" %>
    </div>
    <div class="card-footer text-white bg-success">
        LinkNetworks
    </div>
</div>
<br>