// Place all the styles related to the memos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.memo-title-area {
    margin-top: 5px;
    height: 80px;
    font-size: 1.0em;/* フォントサイズ */
    font-weight: bold;/* フォント太さ */
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 2em;
    // border-top: 3px solid #28A745;/* 上の線 */
    // border-bottom: 3px solid #28A745;/* 下の線 */
    color: #28A745;/* フォント色 */
    text-align: left;/* テキストの位置 */
}

.new {
    padding-left: 1em;
    color: #28A745;/* フォント色 */
}

.memo-index-area {
    margin-top: 0em;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    height: calc(100% - 80px);
    max-height: calc(100% - 80px);
    // background-color: #28A745;/* 背景色 */
}

.todo-card {
    box-shadow: 0;
}

.todo-card:hover {
    box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.4);
}