// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.scroll {
    width: auto;
    height: auto;
    overflow: auto;
}
    
.title {
    font-size: 150%;
    font-weight: bold;/* フォント太さ */
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 2em;
    border-top: 3px solid #3f9613;/* 上の線 */
    border-bottom: 3px solid #409614;/* 下の線 */
    text-align: center;/* テキストの位置 */
    color: #28a745;
}

.image-1 {
    text-align: center;
}

.name {
    color: #28a745;
    text-align: center;
}

.mail {
    text-align: center;
}

.edit {
    text-align: right;
}

.pr {
    color: white;
    text-align: center;
    background-color: #28a745;
    width: 100%;
    height: 30px;
}

.col {
    color: white;
    text-align: center;
    background-color: #28a745;
    height: 30px;
}

.h5 {
    text-align: center;
}