// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.flame {
    font-weight: bold;/* フォント太さ */
    padding: 1em;
    margin-bottom: 0.7em;
    // border: 4px double #619f60;/* 線 */
    // border-radius: 20px;/* 角丸 */
    color: #62a061;/* フォント色 */
    background: linear-gradient(transparent 0%, #a7d6ff 60%);
    }

.over {
    display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;

}

.name {
    font-weight: bold;
}

.P {
    position: relative;
}
.P div.card {
    position: absolute;
    right: 73px;
    top: -110px;
}

.col {
    color: white;
    text-align: center;
    background-color: #28a745;
    height: 30px;
}
// タグタイトル
h5 {
    position: relative;
    display: inline-block;
    // height: 64px;
    margin-left: 33px;
    // padding: 1rem 2rem 1rem 3rem;
    color: #fff;
    background: #28a745;
}
h5:before {
    position: absolute;
    top: 0;
    left: -19px;
    content: '';
    border-width: 11px 16px 14px 0;
    border-style: solid;
    border-color: transparent #28a745 transparent transparent;
}
h5:after {
    position: absolute;
    top: calc(50% - 7px);
    left: -9px;
    width: 14px;
    height: 13px;
    content: '';
    border-radius: 50%;
    background: #fff;
}

// 投稿一覧
ul{
    position: absolute;  /*要素の位置決め*/
    top    : 12px;
    right  : 0;
    
}

li{
    list-style-type : none;    /* 黒点を消す*/
    background      : #fff;  /* 背景*/
    min-width       :  5.2em;
    max-width       :  5.4em;
    white-space     : nowrap; /*余白、ホワイトスペース*/
    text-overflow   : clip;
    border: 0.8px solid #28a745; /* 項目上側の枠線(緑色で1pxの実線) */
    font-weight: bold;         /* 太字にする */
}
// ❤の中にある＃
.position {
    position:absolute;
    left: 1.1em;
    color:#ff00ae;
}
// starの中にある＃
.screen {
    position:absolute;
    left: 1.1em;
    color:#f0ff24;
}

.left {
    width: 90%;
}
.right {
    width: 10%;
}

.Po-1 {
	position: absolute;  /*要素の位置決め*/
    top    : 5px;
    right  : 9px;
    
}