// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title {
    font-size: 150%;
    font-weight: bold;/* フォント太さ */
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 2em;
    border-top: 3px solid #3f9613;/* 上の線 */
    border-bottom: 3px solid #409614;/* 下の線 */
    text-align: center;/* テキストの位置 */
    color: #28a745;
}

.name {
    text-align: center;
}

.edit {
    text-align: right;
}

.col {
    color: white;
    text-align: center;
    background-color: #28a745;
    height: 30px;
}

.h5 {
    text-align: center;
}
// 画像と自己紹介文の横並び
.flex{
    display: flex;
}

.right{
    width: 1000px;
}
.left{
    width: 200px;
    padding-bottom: 0;
}

.pr {
    color: white;
    text-align: center;
    background-color: #28a745;
    width: 100%;
    height: 20px;
}

// ul {
    // display: block;
    // list-style: none;
// }
// li {
    // display: block;
    // list-style: none;
// }

ul{
    position: absolute;  /*要素の位置決め*/
    top    : 12px;
    right  : 0;
    
}

li{
    list-style-type : none;    /* 黒点を消す*/
    background      : #fff;  /* 背景*/
    min-width       :  5.2em;
    max-width       :  5.4em;
    white-space     : nowrap; /*余白、ホワイトスペース*/
    text-overflow   : clip;
    border: 1px solid #28a745; /* 項目上側の枠線(緑色で1pxの実線) */
    font-weight: bold;         /* 太字にする */
}